* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #f9e0ae;
}
div {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

div ul {
  display: flex;
  border-bottom: 0.8em solid #463333;
}

div ul li {
  display: flex;
  height: 4em;
  width: 4em;
  list-style: none;
  margin: 0 0.8em;
  border-radius: 50%;
  animation: bouncy 1s linear infinite;
}

@keyframes bouncy {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-150px);
  }
  100% {
    transform: translateY(0);
  }
}

li:nth-child(odd) {
  animation-delay: 0.2s;
  background-color: #c24914;
}
li:nth-child(even) {
  animation-delay: 0.4s;
  background-color: #fc8621;
}
li:nth-child(3),
li:nth-child(7),
li:nth-child(11) {
  animation-delay: 0.6s;
  background-color: #682c0e;
}
